body{

background:#111827;
margin:0;
font-family:Arial,sans-serif;
color:white;

}

.container{

max-width:700px;
margin:auto;
padding:30px;
text-align:center;

}

.logo{

width:120px;
margin-bottom:20px;

}

h1{

margin-bottom:10px;

}

.subtitle{

color:#ccc;
margin-bottom:30px;

}

#reader{

border-radius:20px;
overflow:hidden;

}

#result{

margin-top:30px;
padding:20px;
border-radius:15px;
background:#1f2937;
font-size:24px;
font-weight:bold;

}
